<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Project_Chemical_SGS_Remake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Project_Chemical_SGS_Remake.Properties.Settings>
            <setting name="ID_Emplyee" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name_Emplyee" serializeAs="String">
                <value />
            </setting>
            <setting name="Lastname_Emplyee" serializeAs="String">
                <value />
            </setting>
            <setting name="Date_Login" serializeAs="String">
                <value />
            </setting>
            <setting name="Check_SerialPort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonitorWeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorSTD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MonitorChemical" serializeAs="String">
                <value />
            </setting>
            <setting name="MonitorFormula" serializeAs="String">
                <value />
            </setting>
            <setting name="MonitorStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="MonitorSetPoint" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StockA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StockB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StockC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StatusScan" serializeAs="String">
                <value>False</value>
            </setting>
        </Project_Chemical_SGS_Remake.Properties.Settings>
    </userSettings>
</configuration>